<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691116498640-m6a81i7tfqludjkkm6rgp450j42vco19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691116498640-m6a81i7tfqludjkkm6rgp450j42vco19</string>
	<key>API_KEY</key>
	<string>AIzaSyB_02W834GCZHKokwBCy8QFBPrRt0fnVJc</string>
	<key>GCM_SENDER_ID</key>
	<string>691116498640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>VTI.Team1-QuizApp</string>
	<key>PROJECT_ID</key>
	<string>quizappteam1</string>
	<key>STORAGE_BUCKET</key>
	<string>quizappteam1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691116498640:ios:f51f79ef0d76b0e59488d5</string>
	<key>DATABASE_URL</key>
	<string>https://quizappteam1.firebaseio.com</string>
</dict>
</plist>